# Platform data storage
.db/
.logs/
.audit-db/

# NServiceBus LearningTransport storage directory
.learningtransport/

# User-specific files
*.suo
*.user

# mergetool output
*.orig

# API Approvals
*.received.txt

# Build dependencies and artifacts
.dotnet/
.build/

# Build results
[Dd]ebug/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Bb]in/
[Oo]bj/

# Visual Studio & Raider cache/options directory
.vs/
.idea/

# macOS garbage
.DS_Store
